/* @import "~bootstrap/scss/bootstrap"; */
.postImage {
 /* width: 100%; */
 font-size: xx-large;
 line-height: 2em;
}

.card {
  margin-top: 2%;
}

.postVideo {
  justify-self: center;
}

.form {
  width: 50%;
  margin: auto;
  border: 1px solid black;
  padding: 3%;
  box-shadow: lightgray 2px 2px;
}

.styledDrop {
  width: 20%;
  border: 2px dashed black;
  padding: 1%;  
  background-color: whitesmoke;
}

.postBody {
  width: 100%;
  justify-content: space-between;
}

.homeHeader {
  background-color: whitesmoke;
  width: 100%;
  border-radius: 25px;
}

.carousel{
  height: 500px;
}